/* Styling for Research Paper Toolbox Title */
h1.RPT {
    font-family: "Poppins", sans-serif;
    text-align: center;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(210, 182, 235);
    margin-left: auto;
    width: 700px;                
    margin-right: auto;
}

nav {
    width: 100vw;                 
    position: relative;          
    left: 50%;                   
    transform: translateX(-50%);  
    background-color: rgb(181, 226, 245);
    padding: 10px 0;           
}

nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
    font-size: 15px;
}

nav a {
    text-decoration: none;
}



/* bolding each parapgraph */
p.bold {
	font-weight: 400;
	padding: 15px;
}


/* for each caption  */
p.para-fontsize {
	font-size: 13px;
}



/* for all aside windows */
aside {
	margin-left: 725px;
	position: absolute;
	background-color: #f4f4f4;
	border-radius: 25px;
	width: 265px;
}


/* Organize Analyze Title*/
h1.OrganizeAnalyzeTitle {
	font-family:  "Poppins", sans-serif;
	font-size: 189%;
	padding-bottom: 0px;
}

/* spacing for paragraphs */
p.paragraph_spacing {
	margin-top: -15px;
}

/* for all images */
img {
	background-size: 50%;
	width: 500px;
	margin-right: 1200px;
}


/* bolding for specific text*/
b.bold {
	font-weight: bold;
}


/* blue text*/
.blue-text {
    color: blue;
	font-weight: 420;
}

/* Styling for Realistic Research title */
h1.RealisticResearchTitle{
	font-family:  "Poppins", sans-serif;
	padding-bottom: 0px;
	text-align: center;
}

/* making empty bullet */
li.empty-bullet {
	margin-left: 18px;
	list-style-type: circle;
}

/* bolding for list */
li.list-bold {
	font-weight: 900;
}

/* Styling for template aside window */
aside.template_aside {
	padding: 35px;
}

