h1.RPT {
	font-family:  "Poppins", sans-serif;
	text-align: center;
}


body {
	font-family:  "Poppins", sans-serif;
	background-color:rgb(210, 182, 235);
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}



nav ul {
    list-style: none;
	padding: 10px 0px 10px 0px;
	background-color: rgb(181, 226, 245)
}

nav ul li {
	display: inline;
	margin-left: 90px;
	font-size: 15px;
}



/* bolding each parapgraph */
p.bold {
	font-weight: 500;
	padding: 15px;
}


/* for each caption  */
p.para-fontsize {
	font-size: 13px;
}



/* for all aside windows */
aside {
	margin-left: 725px;
	position: absolute;
	background-color: lightgray;
	border-radius: 25px;
	width: 265px;
}



h1.OrganizeAnalyzeTitle {
	font-family:  "Poppins", sans-serif;
	font-size: 189%;
	padding-bottom: 0px;

}

#temp {
	margin-top: -15px;
}

/* for all images */
img {
	background-size: 50%;
	width: 500px;
	margin-right: 1200px;
}

figcaption {
	font-size: 13px;
}






h1.Realistic_Research{
	font-family:  "Poppins", sans-serif;
	padding-bottom: 0px;
	text-align: center;

}


/* making empty bullet */
li.empty-bullet {
	margin-left: 18px;
	list-style-type: circle;
}



li.list-bold {
	font-weight: 900;
}