
/* Research Paper Toolbox Title*/
h1.RPT {
	font-family:  "Poppins", sans-serif;
	text-align: center;
}


body {
	font-family:  "Poppins", sans-serif;
	background-color:rgb(210, 182, 235);
	margin-left: auto;
	width: 700px;
	margin-right: auto;
}


nav ul {
    list-style: none;
	padding: 10px 0px 10px 0px;
	background-color: rgb(181, 226, 245)
}


nav ul li {
	display: inline;
	margin-left: 90px;
	font-size: 15px;
}


nav a {
	text-decoration: none;   
}




/* bolding each parapgraph */
p.bold {
	font-weight: 400;
	padding: 15px;
}


/* for each caption  */
p.para-fontsize {
	font-size: 13px;
}



/* for all aside windows */
aside {
	margin-left: 725px;
	position: absolute;
	background-color: lightgray;
	border-radius: 25px;
	width: 265px;
}



h1.OrganizeAnalyzeTitle {
	font-family:  "Poppins", sans-serif;
	font-size: 189%;
	padding-bottom: 0px;

}

#temp {
	margin-top: -15px;
}

/* for all images */
img {
	background-size: 50%;
	width: 500px;
	margin-right: 1200px;
}


b.bold {
	font-weight: bold;
}

/* blue text*/
.blue-text {
    color: blue;
	font-weight: 420;
}


h1.RealisticResearchTitle{
	font-family:  "Poppins", sans-serif;
	padding-bottom: 0px;
	text-align: center;

}


/* making empty bullet */
li.empty-bullet {
	margin-left: 18px;
	list-style-type: circle;
}



li.list-bold {
	font-weight: 900;
}

